<html>
	<head>
		<title>Chit Chat</title>
		<link
			rel="stylesheet"
			href="/styles.css"
		/>
	</head>
	<body>
		<h1><%= title %></h1>
		<div class="container">
			<% messages.forEach((message, index) => { %>
			<div class="userMessage">
				<div>
					<p><%= message.user %></p>
					<p class="text"><%= message.text %></p>
				</div>
				<div>
					<p>
						<%= message.added.toDateString().split(' ')[2] %> <%=
						message.added.toDateString().split(' ')[1] %>
					</p>
					<span><a href="/details/<%= index %>">Details</a></span>
				</div>
			</div>

			<% }) %>
		</div>
		<button>
			<a href="/new">Leave a Message!</a>
		</button>
	</body>
</html>
