<html>
    <head>
        <title>Chit Chat</title>
    </head>
    <body>
        <h2><%= title %></h2>
        <div>
            <% messages.forEach((message, index) => { %>
                <div>
                    <p><%= message.user %></p>
                    <p><%= message.text %></p>
                </div>
                <div>
                    <p><%= message.added.toDateString() %></p>
                    <span><a href="/details/<%= index %>">Details</a></span>
                </div>
                
            <% }) %>
        </div>
        <span>
            <a href="/new">Send a Message</a>
        </span>
    </body>
</html>